{% extends '../base.html' %}

{% block content %}

<h2 class="has-text-centered title">Sign In</h2>

{% for message in messages %}
    <div class="message is-warning"><span>{{ message }}</span></div>
{% endfor %}

<div class="columns">
<div class="column is-half m-auto">
  <form method="POST" action="">
    {% csrf_token %}
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input is-small is-black" type="text" name="username" autofocus>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input is-small" type="password" name="password">
      </div>
    </div>

    <div class="field">
      <button type="submit" class="button is-primary">Sign In</button>
    </div>

  </form>
</div>
</div>

{% endblock %}
